-#<div class="services">
-#  <% for service in @services %>
-#      <div class="service">
-#        <%= image_tag "providers/#{service.provider}_32.png", :size => "32x32" %>
-#        <div class="provider"><%= service.provider_name %></div>
-#        <div class="uid"><%= service.uid %></div>
-#        <%= link_to "X", service, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
-#      </div>
-#  <% end %>
-#  <div class="clear"></div>
-#</div>