#services
    =link_to image_tag("providers/facebook_64.png", :size => "64x64",  :alt => "Facebook"), "/auth/facebook"
    =link_to image_tag("providers/google_64.png", :size => "64x64",  :alt => "Google"), "/auth/google_oauth2"
    -#=link_to image_tag("providers/github_64.png", :size => "64x64",  :alt => "Github")+"*", "/auth/github"
    =link_to image_tag("providers/twitter_64.png", :size => "64x64",  :alt => "Twitter"), "/auth/twitter"
    -##footnote_signup * You can use this servisec only if you set a public email address